{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Large Screen</title>

    <link rel="stylesheet" type="text/css" href="{% static 'draw/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'draw/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'draw/vendor/paper/paper-full.min.js' %}"></script>
    <!-- import d3js -->
    <script type="text/javascript" src="{% static 'draw/vendor/d3js/d3.v7.min.js' %}"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/d3@7"></script> -->
    <!-- <script src="https://d3js.org/d3.v6.min.js"></script> -->
    <style type="text/css">
     svg {
         position: absolute;
         top: 20px;
         left: 20px;
         border: 2px solid #000;
         border-radius: 3px;
         margin: 20px;
         overflow: scroll;
     }.circle {
	  fill: #fff;
	  stroke: steelblue;
	     /* stroke-width: 3px; */
	 } .link {
         stroke: #000;
         stroke-width: 2px;
         fill: none;
     } .image {
         width: 200px;
         height: 200px;
         border: 5px solid #000 !important;
         background: white;
         z-index: 2;
     }
     .root,.node {
         background: white !important;
     }
     .root .image {
         width: 350px;
         height: 350px;
     }
     .text {
         font-size: 24px;
     }
     .rect {
         stroke: #000;
         stroke-width: 2px;
         fill: #FFF;
     }
     #merge-canvas {
         border: 3px solid #000;
     }
     #merge-wrapper {
         position: absolute;
         z-index: 100;
         background-color: lightgrey;
         top: 150px;
         left: 500px;
     }
    </style>

</head>
<body>
    <!-- You may change the dimensions of this canvas -->
    <!-- <canvas id="myCanvas" width="1000px" height="500px"></canvas> -->
    <template id="merge-box">
        <div id="merge-wrapper">
        <h1>Merge in progress</h1>
        <canvas id="merge-canvas" width="600px" height="600px"></canvas>
        <br>
        <button type="button" id="finish-merge">Finish Merge</button>
        <div>suggestions</div>
        </div>
    </template>
</body>
<script>
 // var testImage = new Image(100, 100);
 // source https://en.wiktionary.org/wiki/File:Square_-_black_simple.svg
    var socket = new WebSocket(
        'ws://' + window.location.host + '/ws/draw');
 var initImg = "{% static 'draw/img/square.png' %}";
 // testImage = "{% static 'draw/img/square.png' %}";//"/static/draw/img/stickfigure.jpg";
 // testImage2 = "{% static 'draw/img/square2.png' %}";
 // testImage3 = "{% static 'draw/img/square3.png' %}";
 // var img = new Image(600,600);
 // img.src = testImage;
 // var img2 = new Image(600,600);
 // img2.src = testImage2;
 //dictionary of user id to pointer to node; default is everyone is the 1st image
 var userPositions = {};
 //dictionary of image ids to the image url
 var imageData = {0: initImg};
 // graph of images stored in root
 // format:
 // uid is who made it
 // imgid is the image id
 // meta is additional text
 var root = {uid: -1, imgid: 0, meta: "(Master)", children: []};
 // root.children[0] = {uid: 0, label: 1, image: testImage2, children: []};
 // root.children[1] = {uid: 0, label: 2, image: testImage3, children: []};
 // root.children[2] = {uid: 0, label: 2, image: testImage, children: []};

 // root.children[3] = {uid: 0, label: 2, image: testImage, children: []};
 // root.children[0].children[0] = {uid: 0, label: 4, image: testImage, children: []};
 // root.children[2].children[0] = {uid: 0, label: 5, image: testImage, children: []};
 // root.children[2].children[0].children[0] = {uid: 0, label: 6, image: testImage, children: []};
 // root.children[2].children[0].children[1] = root.children[0].children[0];

 // below function partially based on tutorials https://medium.com/analytics-vidhya/creating-a-radial-tree-using-d3-js-for-javascript-be943e23b74e
 // and https://www.goodmarketing.club/guide/d3-js-how-to-build-a-tree-chart-w-line-by-line-code-explanations/
 function generateGraph(root, depth) {
     var t = d3.transition().duration(800).ease(d3.easeLinear);
     //reset
     d3.selectAll("svg > *").remove();
     // convert to d3 data format
     var treeData = d3.hierarchy(root);
     // make tree
     var gitTree = d3.tree().size([1000,1000]);
     // put the data in the tree
     var visualTree = gitTree(treeData); //??? do i have to process root first
     // get the nodes, links of the tree
     var nodes = visualTree.descendants();
     var links = visualTree.links();
     var svg = d3.select('body').append('svg').attr('width', 2000).attr('height', 1150);
     var nodeHeight = 200;
     var nodeWidth = 200;
     var rootHeight = 350;
     var rootWidth = 350;
     // var treeNodes = d3.select("svg g.nodes");
     // treeNodes.selectAll("circle").data([nodes[0]]).enter().append("circle")
     //          .attr("class", "circle").attr("transform", d => `translate(${d.y}, ${d.x})`).attr("r", 80);

     // style the links, nodes
     // credit also to https://stackoverflow.com/questions/16004915/d3-js-links-between-nodes-not-rendering-as-lines
     var gg = svg.append("g").attr('transform', "translate("+(rootWidth+50)+","+50+")");
     // root node
     // var rootNode = gg.selectAll(".node").data(nodes.slice(0,1)).join("g").attr("class", "root").attr("transform", function(d) {
     //     return  `translate(${d.y-200}, ${d.x-100})`;
     // });
     // other nodes
     var link = gg.selectAll(".link").data(links).join("path")
                  .attr("class", "link")
                  .attr("d", d3.linkHorizontal().x(d => d.y).y(d => d.x));
     var node = gg.selectAll(".node").data(nodes).join("g").attr("class", "node").attr("transform", function(d) {
         return  `translate(${d.y-100}, ${d.x-100})`;
     });
     var rootNode = gg.selectAll(".node").data(nodes.slice(0,1)).attr("class", "root").attr("transform", d => `translate(${d.y-rootWidth}, ${d.x-rootHeight/2})`);
     node.append("rect").attr("class", "rect").attr("width", nodeWidth).attr("height", nodeHeight);
     rootNode.append("rect").attr("class", "rect").attr("width", rootWidth).attr("height", rootHeight);
     node.append("image").attr("class", "image").attr("xlink:href", function (d) {return imageData[d.data.imgid]});
     node.append("text").attr("class", "text")
         .text(d => "Img ID: " + d.data.imgid + " " + d.data.meta + " by " + d.data.uid)
         .attr("transform", d => `translate(2, -8)`);
     // node.append("text").attr("class", "text").text(d => "User ID: " + d.data.uid).attr("transform", d => `translate(2, -20)`);
 }
 generateGraph(root);

 // find node with dfs given image id
 function findNode(imgid) {
     var stack = [root];
     while (stack.length > 0) {
         let a = stack.pop();
         if (a.label == imgid) {
             return a;
         }
         for (var c of a.children) {
             stack.push(c);
         }
     }
     return -1;
 }
 // JSON message format
 // uid: user id (set to -1 if broadcasted from large screen)
 // (ignore) current: which Img ID they are currently on
 // type: type of data being sent. either branch, push, merge, endorse
 // data: either going to be image id or image data
 socket.onmessage = function(receivedMessage) {
     var received = JSON.parse(receivedMessage.data);
     if (received.uid >= 0) {
         switch (received.type) {
             case "init":
                 //when a small screen is loaded, just the uid is sent
                 userPositions[received.uid] = root;
                 break;
             case "branch":
                 // store uid position in some dictionary
                 // send image data to user along with image id
                 //
                 break;
             case "push":
                 // create a new node in graph
                 console.log(received);
                 var newImgID = Date.now() % 10000;
                 var newNode = {uid: received.uid, imgid: newImgID, meta: "", children: []};
                 imageData[newImgID] = received.data;
                 var tempPointer = userPositions[received.uid].children;
                 tempPointer.push(newNode);
                 userPositions[received.uid] = tempPointer[tempPointer.length -1];
                 generateGraph(root);
                 // reload graph
                 break;
             case "merge":
                 // compute sum of two images and send it to both users
                 //
                 console.log(received);
                 createMergeScreen(received.uid,parseInt(userPositions[received.uid].imgid), parseInt(received.data));
                 drawMergeImages(userPositions[received.uid].imgid, received.data);
                 // drawMergeImages();
                 break;
             case "mergeDone":
                 // delete the two merged nodes
                 // replace with new one with new image data
                 break;
             case "endorse":
                 // add to some counter the image getting endorsed
                 break;
             default:
                 console.log("wrong json type");
         }
     }
 }

 function createMergeScreen(uid, imgid1, imgid2) {
     //clear default screen
     d3.selectAll("svg > *").remove();
     // make stuff appear
     $("body").append($("#merge-box").html());
     //setup canvas
     var mc = document.getElementById("merge-canvas");
     paper.setup(mc);
     var tool = new paper.Tool();
     var path = new paper.Path();
     path.strokeColor = "black";
     path.strokeWidth = 3;
     //put image in the canvas

     tool.onMouseDown = function(event) { //http://paperjs.org/reference/tool/ path examples
         path = new paper.Path();
         path.strokeColor = "black";
     path.strokeWidth = 3;
         // console.log(event.point);
         // You may need to add code here if you want to pass any other information.
         // socket.send("{\"x\" : " + event.point.x + ", \"y\" : " + event.point.y + ", \"uid\" : " + uid + ", \"color\" : \"" + collected[uid] +"\"}" );
         //     for(i = 0; i < received.uid.length; i++){
     }
     tool.onMouseDrag = function(event) { //http://paperjs.org/reference/tool/ path examples
         path.add(event.point);
         console.log(path);
         // console.log(event.point);
         // You may need to add code here if you want to pass any other information.
         // socket.send("{\"x\" : " + event.point.x + ", \"y\" : " + event.point.y + ", \"uid\" : " + uid + ", \"color\" : \"" + collected[uid] +"\"}" );
         //     for(i = 0; i < received.uid.length; i++){
     }
     // testImage2 = "{% static 'draw/img/square2.png' %}";
     // img2 = new Image();
     // img2.src = testImage2;
     // testImage2 = "{% static 'draw/img/square3.png' %}";
     // img3 = new Image();
     // img3.src = testImage2;
     // // ctx.drawImage(img, 0, 0);
     // img2.onload = function () {
     //     console.log("hi");
     //     ctx.drawImage(img2, 0, 0,600,600);
     //     console.log("hi");
     // };
     // img3.onload = function () {
     //     console.log("hi");
     //     ctx.drawImage(img3, 0, 0, 600, 600);
     // };
     $("#finish-merge").click(function () {

         var newImgID = Date.now() % 10000;
         var mc = document.getElementById("merge-canvas");
         var imgURL = mc.toDataURL();
         var newNode = {uid: uid, imgid: newImgID, meta: "(Merged from " +imgid2+ ")", children: []};
         imageData[newImgID] = imgURL;
         var t = userPositions[uid].children;
         t.push(newNode);
         userPositions[uid] = t[t.length - 1];
         $("#merge-wrapper").remove();
         generateGraph(root);
     });
 }
 function drawMergeImages(imgid1, imgid2) {
     console.log(imgid1, imgid2);
     console.log(typeof(imgid1), typeof(imgid2));
     var mc = document.getElementById("merge-canvas");
     $("#merge-canvas").ready(function () {
     var ctx = mc.getContext('2d');
     // img.addEventListener("load", e => ctx.drawImage(img, 0, 0));
     // console.log(img2);
     // ctx.drawImage(img, 0, 0);
     // console.log(typeof(imageData[imgid2]), typeof(imageData[imgid1]));
     // console.log(typeof(imgid1), typeof(imgid2));
         // var mImg1 = new Image();
         // mImg1.src = imageData[imgid1];
         // mImg1.onload = function () {
         //     ctx.drawImage(mImg1, 0, 0, 600, 600);
         //     console.log(mImg1);
         //     console.log("yeet");
         // };
         // ctx.drawImage(mImg1, 0, 0, 600, 600);
         // var mImg2 = new Image();
         // mImg2.onload = function () {
         //     ctx.drawImage(mImg2, 0, 0, 600, 600);
         // };
         // mImg2.src = imageData[imgid2];
         //     ctx.drawImage(mImg2, 0, 0, 600, 600);
     });
     var size = new paper.Size(600,600);
     var raster = new paper.Raster({source: imageData[imgid1], position: paper.view.center});
     raster.size = size;
     var raster2 = new paper.Raster({source: imageData[imgid2], position: paper.view.center});
     raster2.size = size;
 }
 // createMergeScreen();
 // var images = {0: };
 //placer holder image for now
 // update(root);
 // function update() {
 //     var nodes = gitTree.nodes(root).reverse(),
 //         links = gitTree.links(nodes);
 //
 //     var node = svg.selectAll("g.node")
 //                   .data(nodes, function(d) { return d.id|| (d.id= ++i); });
 //
 //     // Enter the nodes.
 //     var nodeEnter = node.enter().append("g")
 //                         .attr("class", "node")
 //                         .attr("transform", function(d) {
 //                             return "translate(" + d.x + "," + d.y + ")"; });
 //
 //     nodeEnter.append("circle")
 //              .attr("r", 10)
 //              .style("fill", "#fff");
 //
 //     // nodeEnter.append("text")
 //     //          .attr("y", function(d) {
 //     //              return d.children || d._children ? -18 : 18; })
 //     //          .attr("dy", ".35em")
 //     //          .attr("text-anchor", "middle")
 //     //          .text(function(d) { return d.label; })
 //     //          .style("fill-opacity", 1);
 // }
 // setting up the canvas and one paper tool
 // var canvas = document.getElementById('myCanvas');
 // paper.setup(canvas);
 // var tool = new paper.Tool();
 // var path = new paper.Path();
 // var uid = Date.now() % 10000;
 // // otherPaths is a dictionary, keys are uid's (user ids) and values are paper.js paths
 // var otherPaths = {uid: path};
 // var collected = {};
 // collected[uid]='#'+(0x1000000+Math.random()*0xffffff).toString(16).substr(1,6);
 // path.strokeColor = collected[uid];
 // // getting the URL (you may want to use for Exercise 3)
 // var url = window.location.href;
 // var params = new URLSearchParams(window.location.search);
 // var displaySize = params.get("size");
 // var socket = new WebSocket(
 //     'ws://' + window.location.host + '/ws/draw');
 //
 // tool.onMouseMove = function(event) { //http://paperjs.org/reference/tool/ path examples
 //     path.add(event.point);
 //     // console.log(event.point);
 //    // You may need to add code here if you want to pass any other information.
 //    socket.send("{\"x\" : " + event.point.x + ", \"y\" : " + event.point.y + ", \"uid\" : " + uid + ", \"color\" : \"" + collected[uid] +"\"}" );
 //    //     for(i = 0; i < received.uid.length; i++){
 //       var colors = [ 'red', 'green', 'blue', 'magenta', 'purple', 'plum', 'orange' ];
 //       colors.sort(function(a,b) { return Math.random() > 0.5; } );
 // console.log(colors[i]);
 // path.strokeColor = "colors[i]"
 // }

 if (displaySize.toLowerCase() == "large") {

     socket.onmessage = function(receivedMessage) {
         var received = JSON.parse(receivedMessage.data);
         // console.log(received.x);
         console.log("Received: " + JSON.stringify(received));

         //for(i = 0; i < otherPaths.length; i++){
         //console.log("HIIII " + Object.keys(otherPaths)[i])
         //collected[Object.keys(otherPaths)[i]]='#'+(0x1000000+Math.random()*0xffffff).toString(16).substr(1,6);}
         // You will probably want to add some code here to draw more lines.
         if (!otherPaths.hasOwnProperty(received.uid)) {
             otherPaths[received.uid] = new paper.Path();
             //for i = 0; i < received.uid; i++){
             //otherPaths[received.uid].strokeColor = collected[received.uid]
             //console.log(collected[received.uid])
             if(!(received.uid in collected)) {
                 collected[received.uid]= received.color;   //'#'+(0x1000000+Math.random()*0xffffff).toString(16).substr(1,6);
                 console.log("HIII " + collected[received.uid]);
             }
             console.log("hi");
             otherPaths[received.uid].strokeColor = collected[received.uid];
         }
         otherPaths[received.uid].add(new paper.Point(received.x, received.y));
     }
 }
 //  }

 // socket.onmessage = function(receivedMessage) {
 //   var received = JSON.parse(receivedMessage.data);
 //         for(i = 0; i < received.uid.length; i++){
 //           var colors = [ 'red', 'green', 'blue', 'magenta', 'purple', 'plum', 'orange' ];
 //           colors.sort(function(a,b) { return Math.random() > 0.5; } );
 //     console.log(colors[i]);
 //     path.strokeColor = "colors[i]"
 //   }
 // }

 socket.onclose = function(e) {
     console.error('Chat socket closed unexpectedly');
 };

</script>
</html>
